html, body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    background-color: #9b9b9b;
    border: 1px solid red;
}